<article class="article">
    <div class="chapter">
        <h2 class="chapter__title">
        <span class="chapter__title__index">{{ article.chapter.label }}</span>
        <span class="chapter__title__label">{{ article.chapter.name }}</span>
        </h2>
    </div>
    <h3 class="article__title">
        {{ article.label }}. {{ article.name }}
    </h3>
    <ul class="list-unstyled article__list_level0">
        {% for section in article.sections_list %}
            <li class="{% if not section.label %}no-label{% endif %}">
                <p>{% if section.label %}{{ section.label }}&nbsp;&nbsp;&nbsp;{% endif %} {{ section.content }}</p>
                <ul class="list-unstyled">
                    {% for subsection in section.subsections %}
                        <li>
                            <p>{{ subsection.label }}&nbsp;&nbsp;&nbsp;{{ subsection.content }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</article>
<a class="next-article" href="{{ next_article.get_absolute_url }}">
    <p>Next</p>
    <p class="name">
        {{ next_article.label }}. {{ next_article.name }}
    </p>
    <span class="arrow-down">
        <i class="fa fa-arrow-down"></i>
    </span>
</a>
