{% load static compress %}
<div class="mainMenu">
    <p class="mainMenu__title">Table of content</p>
    <ul>
      {% for chapter in chapters %}
        <li class="mainMenu__chapter {% if chapter.index != 1 and article.chapter.index == chapter.index %}open{% endif %}">
            <a class="mainMenu__chapter_link">
                <span class="mainMenu__chapter__index">{{ chapter.label }}</span>
                <span class="mainMenu__chapter__title">
                    {{ chapter.name }}
                    <i class="fa {% if article.chapter.index == chapter.index %}fa-chevron-down{% else %}fa-chevron-up{% endif %}"></i>
                </span>
                <span class="mainMenu__chapter__articles">
                    Art {{ chapter.articles.first.index }} - {{ chapter.articles.last.index }}
                </span>
            </a>
            <ul style="{% if article.chapter.index != chapter.index %}display: none;{% endif %}">
              {% for chapter_article in chapter.articles.language.all %}
                  <li class="mainMenu__article">
                    <a href="{{ chapter_article.get_absolute_url }}">
                      {{ chapter_article.label }}. {{ chapter_article.name }}
                    </a>
                  </li>
              {% endfor %}
            </ul>
        </li>
      {% endfor %}
    </ul>
</div>
{% compress js inline %}
<script type="text/javascript">
    $(document).ready(function(){
    	$('.mainMenu__chapter_link').click(function(){
    		$(this).find('i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            $(this).next().slideToggle('fast');
        });
    	if ($('.mainMenu__chapter.open').length) {
    	    var offset = $('.mainMenu__chapter.open').offset()['top'];
    	    $('.mainMenu').scrollTop(offset - 129);
    	}
    });
</script>
{% endcompress %}
