{% extends 'layout.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n static %}

{% get_current_language as CURRENT_LANG %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <meta property="og:locale" content="{{ CURRENT_LANG }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.label }} | GDPR made searchable by Algolia. Chapters, articles and recitals easily readable" />
    <meta property="og:description" content="Official text of the GDPR – General Data Protection Regulation – made searchable by Algolia. Easily search in chapters, articles and recitals to read faster and become GDPR compliant." />
    <meta property='og:image' content='https://gdpr.algolia.com/static/img/GDPR-social-network-preview.jpg'>
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="General Data Protection Regulation (GDPR)" />

    <meta name="twitter:card" content="summary" />
    <meta name='twitter:image:src' content='https://gdpr.algolia.com/static/img/GDPR-social-network-preview.jpg'>
    <meta name="twitter:description" content="Official text of the GDPR – General Data Protection Regulation – made searchable by Algolia. Easily search in chapters, articles and recitals to read faster and become GDPR compliant." />
    <meta name="twitter:title" content="{{ article.label }} | GDPR made searchable by Algolia. Chapters, articles and recitals easily readable" />
    {% for language_code in article.get_available_languages_code %}
        {% language language_code %}
        <link rel="alternate" hreflang="{{ language_code }}" href="{{ request.scheme }}://{{ request.get_host }}{% url 'article' id=article.index %}">
        {% endlanguage %}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ article.label }} | GDPR made searchable by Algolia. Chapters, articles and recitals easily readable
{% endblock %}

{% block body %}
    <div class="row no-gutters">
        <div class="col-3">
            <div class="left-container">
                <div class="logo__container">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.svg' %}" class="logo" />
                    </a>
                    <h1 class="title__container">
                        <a href="/">
                            <span class="title">GDPR</span>
                        </a>
                        <span class="subtitle">Made searchable by <a href="https://www.algolia.com/" target="_blank">Algolia</a></span>
                    </h1>
                </div>
                {% include '_menu.html' %}
            </div>
        </div>
        <div class="col-6 main-column-content">
            <div class="row header no-gutters">
                <div class="col-12 search__container">
                    <div id="search"></div>
                    <script type="text/javascript">
                      window.language_code = "{{ CURRENT_LANG }}";
                      window.react_mount = document.getElementById('search');
                    </script>
                    {% render_bundle 'search' %}
                    {% include '_language_switcher.html' %}
                </div>
                <div class="content__container main">
                    {% include '_article.html' %}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="right-container">
                <div class="recitals__header">
                    <div class="recitals__header__content">
                        <span class="link-icon">
                            <i class="fa fa-link"></i>
                        </span>
                        <span class="title">Suitable Recitals</span>
                    </div>
                </div>
                <div class="recitals">
                    <div class="recitals__container">
                        <h3><i class="fa fa-link"></i>Suitable Recitals for article {{ article.index }}</h3>
                        <ul class="list-unstyled">
                        {% for recital in article.recitals.language.all %}
                            <li>
                                <span class="index">{{ recital.index }}</span>
                                <a href="#recital-{{ recital.index }}"  class="recital-link" data-recital-content="{{ recital.text }}" data-recital-index="{{ recital.index }}">
                                    <span>{{ recital.text|truncatechars:50 }}</span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="recital-content-container">
                    <div class="inner">
                        <div class="close-container">
                            <a href="#" class="recital-content-close">
                                <span>Close</span> <span class="cross">&times;</span>
                            </a>
                        </div>
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var $recitalContentContainer = $('.recital-content-container');
        $(document).ready(function(){
        	$('.recital-link').click(function(){
        		var recitalIndex = $(this).data('recital-index');
        		var recitalContent = $(this).data('recital-content');
                $recitalContentContainer.find('h2').text('# ' + recitalIndex);
                $recitalContentContainer.find('p').text(recitalContent);
                $recitalContentContainer.toggleClass('open');
            });
            $('.recital-content-close').click(function(){
            	$recitalContentContainer.removeClass('open');
            });
        });
    </script>
{% endblock %}
