{% extends 'layout.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n static %}
{% get_current_language as CURRENT_LANG %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <meta name="theme-color" content="#2050e0">

    <meta property="og:locale" content="{{ CURRENT_LANG }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if article.index != 1 %}{{ article.label }} | {% endif %}GDPR made searchable by Algolia. Chapters, articles and recitals easily readable"/>
    <meta property="og:description" content="Official text of GDPR–General Data Protection Regulation–made searchable by Algolia. Search Easily in chapters, articles and recitals to read faster and become GDPR compliant."/>
    <meta property='og:image' content='https://gdpr.algolia.com/static/img/GDPR-social-network-preview.jpg'>
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="General Data Protection Regulation (GDPR)" />

    <meta name="twitter:card" content="summary" />
    <meta name='twitter:image:src' content='https://gdpr.algolia.com/static/img/GDPR-social-network-preview.jpg'>
    <meta name="twitter:description" content="Official text of GDPR–General Data Protection Regulation–made searchable by Algolia. Search Easily in chapters, articles and recitals to read faster and become GDPR compliant."/>
    <meta name="twitter:title" content="{% if article.index != 1 %}{{ article.label }} | {% endif %}GDPR made searchable by Algolia. Chapters, articles and recitals easily readable" />

    {% for language_code in article.get_available_languages_code %}
        {% language language_code %}
            <link rel="alternate" hreflang="{{ language_code }}" href="{{ request.scheme }}://{{ request.get_host }}{% url 'article' id=article.index %}">
        {% endlanguage %}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ article.label }}. {{ article.name }} | GDPR made searchable by Algolia. Chapters, articles and recitals easily readable
{% endblock %}

{% block body %}
    <form action="{% url 'set_language' %}" method="post" style="display:none;" id="language-form">{% csrf_token %}
        <input name="next" type="hidden" value="" id="next-input"/>
        <input type="text" name="language" id="language-input"/>
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
            var $languageForm = $('#language-form');
            var $languageInput = $('#language-input');
            var $nextInput = $('#next-input');
            $('.dropdown-language .dropdown-item').click(function(){
                $languageInput.val($(this).data('value'));
                $nextInput.val('/');
                $languageForm.submit();
            });
        });
    </script>
    <div class="row no-gutters">
        <div class="menu-container d-lg-none d-xs-block">
            <div class="d-block d-lg-none d-xs-block d-lg-none" id="mobile-menu">
                {% include '_language_switcher.html' with id='mobile' %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-3 d-none d-lg-block">
            <div class="left-container">
                <div class="logo__container">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.svg' %}" class="logo" />
                    </a>
                    <h1 class="title__container">
                        <a href="/">
                            <span class="title">GDPR</span>
                        </a>
                        <span class="subtitle">Made searchable by
                            <a href="https://www.algolia.com/?utm_medium=social-owned&utm_source=gdpr_search&utm_campaign=gdpr_search" target="_blank">
                                <img src="{% static 'img/algolia_logo.svg' %}" alt="Algolia logo">
                            </a>
                        </span>
                    </h1>
                </div>
                {% include '_menu.html' %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-8 col-xl-6 main-column-content">
            <div class="row header no-gutters">
                <div class="mobile__container">
                    <div class="logo__container">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logo.svg' %}" class="logo" />
                        </a>
                        <h1 class="title__container">
                            <a href="/">
                                <span class="title">GDPR</span>
                            </a>
                            <span class="subtitle">Made searchable by
                                <a href="https://www.algolia.com/?utm_medium=social-owned&utm_source=gdpr_search&utm_campaign=gdpr_search" target="_blank">
                                    <img src="{% static 'img/algolia_logo.svg' %}" alt="Algolia logo">
                                </a>
                            </span>
                        </h1>
                    </div>
                </div>
                <div class="col-12 search__container">
                    <a class="menu__btn d-lg-none">
                        <img src="{% static 'img/ic-menu.svg' %}" class="ic-menu">
                    </a>
                    <div class="algolia-logo-search">
                        <a href="https://www.algolia.com/?utm_medium=social-owned&utm_source=gdpr_search&utm_campaign=gdpr_search" target="_blank">
                            <img src="{% static 'img/ic-logo-referral.svg' %}" alt="">
                        </a>
                    </div>
                    <div id="search"></div>
                    <script type="text/javascript">
                        window.language_code = "{{ CURRENT_LANG }}";
                        window.react_mount = document.getElementById('search');
                    </script> {% render_bundle 'search' %}
                    <div class="d-none d-lg-block">
                        {% include '_language_switcher.html' with id='desktop' %}
                    </div>
                </div>
                <div class="d-lg-none spacer"></div>
                <div class="content__container main">
                    {% include '_menu.html' %}
                    {% include '_article.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-3 d-none d-xl-block">
            <div class="right-container">
                <div class="recitals__header">
                    <div class="recitals__header__content">
                        <span class="link-icon">
                            <img src="{% static 'img/ic-share.svg' %}" alt="Share icon">
                        </span>
                        <a href="mailto:?body=https%3A%2F%2Fgdpr.algolia.com%2F%20Official%20text%20of%20GDPR%20%E2%80%93%20General%20Data%20Protection%20Regulation%20%E2%80%93%20made%20searchable%20by%20Algolia.%20Easily%20search%20in%20chapters%2C%20articles%20and%20recitals%20to%20read%20faster%20and%20become%20GDPR%20compliant." class="share-link">
                            <img src="{% static 'img/ic-mail.svg' %}" alt="Email icon">
                            <span>Email</span>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&mini=true" class="share-link" target="_blank">
                            <img src="{% static 'img/ic-linkedin.svg' %}" alt="LinkedIn icon">
                            <span>LinkedIn</span>
                        </a>
                        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-link" target="_blank">
                            <img src="{% static 'img/ic-twitter.svg' %}" alt="Twitter icon">
                            <span>Twitter</span>
                        </a>
                    </div>
                </div>
                <div class="recitals">
                    <div class="recitals__container">
                        <h3>
                            <i class="fa fa-link"></i>Suitable Recitals for article {{ article.index }}</h3>
                        <ul class="list-unstyled">
                            {% for recital in article.recitals.language.all %}
                            <li>
                                <span class="index">{{ recital.index }}</span>
                                <a href="#recital-{{ recital.index }}" class="recital-link" data-recital-content="{{ recital.text }}" data-recital-index="{{ recital.index }}">
                                    <span>{{ recital.text|truncatechars:50 }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="recital-content-container d-none d-xl-block">
                    <div class="inner">
                        <h2></h2>
                        <p></p>
                        <div class="recital-close">
                            <span class="cross">X</span> <span>Close this recital</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var $recitalContentContainer = $('.recital-content-container');
        var $menuButton = $('.menu__btn');
        var $menuContainer = $('.mainMenu');
        $(document).ready(function () {
            $('.recital-link').click(function () {
                var recitalIndex = $(this).data('recital-index');
                var recitalContent = $(this).data('recital-content');
                $recitalContentContainer.find('h2').text('# ' + recitalIndex);
                $recitalContentContainer.find('p').text(recitalContent);
                $recitalContentContainer.toggleClass('open');
            });
            $('.recital-close').click(function () {
                $recitalContentContainer.removeClass('open');
            });
            $menuButton.click(function(){
                $menuContainer.toggleClass('open');
            });
            $('.mainMenu__chapter_link').click(function(){
                $(this).find('i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                $(this).next().slideToggle('fast');
            });
            if ($('.mainMenu__chapter.open').length) {
                var offset = $('.mainMenu__chapter.open').offset()['top'];
                $('.mainMenu').scrollTop(offset - 129);
            }
        });
    </script>
{% endblock %}
