{% load i18n static compress %}
{% get_current_language as CURRENT_LANG %}
<html lang="{{ CURRENT_LANG }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link href="{% static 'images/favicon/favicon-64x64.png' %}" rel=icon sizes=64x64 type="image/png">
        <link href="{% static 'images/favicon/favicon-48x48.png' %}" rel=icon sizes=48x48 type="image/png">
        <link href="{% static 'images/favicon/favicon-32x32.png' %}" rel=icon sizes=32x32 type="image/png">
        <link href="{% static 'images/favicon/favicon-16x16.png' %}" rel=icon sizes=16x16 type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossOrigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.0.0/themes/algolia-min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}" />
        {% endcompress %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
